* {
  font-family: 'Roboto', sans-serif;
}

header {
  padding-bottom: 179px;
  background-position: center top;
  background-repeat: no-repeat;

  .logo {
    display: flex;
    align-items: center;
    height: 100px;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;

  a {
    color: white;

    &:hover {
      color: white;
      border-bottom: 1px solid white;
      text-decoration: none;
    }
  }
}

.header__nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.button_green {
  font-weight: 700;
  display: inline-block;
  background: #5eba01;
  border-radius: 30px;
  padding: 10px 35px;
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.header__content {
  padding-top: 100px;
}

.header__content__text {
  color: white;
  margin-top: 20px;
  font-weight: 300;
  margin-left: 20px;
}

h1 {
  font-weight: 900;
  color: white;
  font-size: 60px;
  margin-bottom: 100px;
}

.button_transparent {
  font-weight: 700;
  display: inline-block;
  background: transparent;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 35px;
  color: white;
  float: right;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.hr__green {
  background: #367600;
  height: 5px;
  width: 60px;
  margin: 30px 0 0 0;
  position: relative;
  left: 12px;
}

h2 {
  font-size: 50px;
  font-weight: 900;
  margin: 20px 0;
  position: relative;
  left: 12px;
}

.scientific__text {
  text-align: justify;
  height: 382px;
  display: flex;
  align-items: center;
  font-size: 19px;
  position: relative;
  left: 12px;
}

.card-body {
  width: 272px;
  height: 272px;
  display: inline-block;
  padding: 0;
  margin-bottom: -6px;
  margin-right: -2px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  .card-text {
    margin: 0 35px;
    position: absolute;
    bottom: 30px;
    color: white;
    font-weight: 600;
  }

  .square_green {
    width: 30px;
    height: 30px;
    background: #62c900;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .card-img {
    transform: scale(1);
    transition: all linear 300ms;
    position: absolute;
    z-index: -1;
  }

  &:hover {
    .card-img {
      transform: scale(1.1);
    }
  }

  .card-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
}

footer {
  background: #219741;
  padding-top: 50px;
  margin-top: 50px;
  font-size: 18px;
  .developer {
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 0;
    color: white;
    opacity: 0.4;
    font-size: 12px;
    margin-top: 35px;
  }
  .phones {
    border-left: 2px solid #52b456;
    display: flex;
    i {
      font-size: 35px;
      color: white;
      margin: 0 25px;
    }
    a {
      opacity: 1;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .email {
    i {
      font-size: 20px;
      margin-right: 15px;
    }
  }

  .address {
    margin-bottom: 35px;
    a {
      display: flex;

      i {
        font-size: 30px;
        margin-right: 15px;
      }
    }
  }

  .socials {
    i {
      font-size: 34px;
      margin-right: 25px;
    }
  }

  .documents {
    margin-bottom: 35px;

    i {
      margin-right: 10px;
      font-size: 22px;
    }
  }

  .logo {
    margin-bottom: 35px;

    img {
      width: 60%;
    }
  }

  a {
    color: white;
    opacity: 0.45;

    &:hover {
      text-decoration: none;
      color: white;
      opacity: 1 !important;
    }
  }
}
